.App{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background: darkolivegreen;
	overflow: scroll;
}
.App::-webkit-scrollbar{
	width: 0px;
	height: 0px;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
}
.space{
	flex: 1;
}